*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contact{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('./images/payment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* object-fit: cover; */
    display: flex;
  
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.heading{
    font-size: 45px;
    margin: 5px 5px;
    color: gray;
    
}
.inputBox{
    height: 50px;
}
#uname, #number, #email, #time{
    border: 2px solid black;
    height: 30px;
    /* width: 350px; */
}
#sub{
    padding: 8px;
    border-radius: 10px;
    color: white;
    background-color: brown;
    cursor: pointer;
    font-size: 15px;
}
#feedback{
    border: 2px solid black;
    width: 100%;
    margin: 5px ;
}
#sub:hover{
    color: black;
    background-color: rgb(206, 182, 229) ;
}

@media screen and (max-width: 760px) {
    .container{
        background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
        background-image: hidden;
    }
    
  @media screen and (max-width: 500px) {
    .container{
        background-image: hidden;
        background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    }
    
  }
}